*/*.TXT
*/*.pdf
*/*.txt
*/*.woff
*/*.woff2
*/*.zip
*/AUTHORS
*/LICENSE
*/NEWS
*/README
*/index.html
Asana/Asana-Math
DejaVuSans/dejavu-fonts-ttf
DejaVuSerif/dejavu-fonts-ttf
LatinModern/latinmodern/
Libertinus/libertinus/
Makefile
NeoEuler/euler-otf-master/
STIX/stix/
TeXGyre*/texgyre*/
XITS/xits/
autom4te.cache/
config.log
config.status
