*/*.TXT
*/*.pdf
*/*.txt
*/*.woff
*/*.woff2
*/*.zip
*/AUTHORS
*/LICENSE
*/NEWS
*/README
*/README.md
*/index.html
Asana/Asana-Math
DejaVu/dejavu-fonts-ttf
FiraMath/firamath/
LatinModern/latinmodern/
Libertinus/libertinus/
Makefile
NeoEuler/euler-otf-master/
STIX/stix/
TeXGyre*/texgyre*/
XITS/xits/
autom4te.cache/
config.log
config.status
webextension/fonts
webextension-mathml-fonts.zip