*/*.TXT
*/*.pdf
*/*.txt
*/*.woff
*/*.zip
*/README
Asana/Asana-Math
LatinModern/latinmodern/
Libertine/libertine-master/
Makefile
NeoEuler/euler-otf-master/
STIX/stix/
TeXGyre*/texgyre*/
XITS/xits/
autom4te.cache/
config.log
config.status
